body{
    background-color: black;
    color: greenyellow;
}

button{
    background-color: greenyellow;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

input{
    background-color: black;
    border: 1px white;
    border-radius: 3px;
    color: greenyellow;
}